[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "*"
chardet = "*"
click = "*"
gunicorn = "*"
icalendar = "*"
idna = "*"
itsdangerous = "*"
python-dateutil = "*"
pytz = "*"
recurring-ical-events = "*"
requests = "*"
six = "*"
urllib3 = "*"
Flask-Caching = "*"
Flask = "*"
flask = "*"
Jinja2 = "*"
MarkupSafe = "*"
PyYAML = "*"
Werkzeug = "*"

[dev-packages]
neovim = "*"

[requires]
python_version = "3.9.4"
